web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
        - .:/app
    ports:
        - "8000:8000"
    links:
        - postgres

postgres:
    image: docker.lcogt.net/pg-archive
    ports:
        - "5432:5432"
