--extra-index-url=http://buildsba.lco.gtn/python
django
psycopg2
djangorestframework
django-extensions
ipython
django-filter
lcogt-logging
boto3
django-crispy-forms
pytz
markdown
djangorestframework-gis
responses
factory-boy
flake8
django-nose
uWSGI
django-cors-headers
