--extra-index-url=http://buildsba.lco.gtn/python
django
psycopg2
flake8
django-nose
https://github.com/LCOGT/django-pgsphere/archive/master.zip
djangorestframework
django-extensions
django-filter
lcogt-logging
boto3
django-crispy-forms
factory-boy
pytz
opentsdb_python_metrics
